.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.header__icons_item:hover {
  cursor: pointer;
  opacity: 0.6 !important;
}

.header__city-and-date {
  display: flex;
  color: #90919d;
  align-items: center;
}

.header__city {
  font-weight: 700;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.header__day {
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.header__city:hover {
  color: brown;
  cursor: pointer;
}


.header__icons {
  display: flex;
  align-items: center;
  margin: 20px;
}

.header__icons img:nth-child(1n) {
  width: 30px;
  margin: 20px;
  opacity: 0.24;
}

.header__icons img:nth-child(2) {
  margin-left: 8px;
}

.header__city-arrow {
  opacity: 0.4;
  transform: rotate(45deg);
  width: 17px;
}



.main-block__top {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.main-block__top-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-block__news-titles {
  cursor: pointer;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}

.main-block__news-titles span:nth-child(1) {
  color: #0054b9;
  font-size: 22px;
}

.main-block__news-titles span:nth-child(2) {
  color: #6da2e1;
  font-size: 22px;
  margin: 10px;
}

.main-block__news-titles span:nth-child(3) {
  color: #6da2e1;
  font-size: 22px;
  margin: 10px;
}

.main-block__news-titles span:nth-child(4) {
  color: #ee7b00;
  font-size: 18px;
  font-weight: 300;
}

.main-block__news-titles span:nth-child(1n):hover {
  color: brown;
}

.main-block__news li {
  /* отсюда начать  */
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 8px;
}

.main-block__news li a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main-block__news ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.main-block__news-picture {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: cover;
  margin-right: 4px;
}

.main-block__news li:hover a {
  color: brown;
}

.main-block__news li:hover {
  cursor: pointer;
}

.main-block__news-picture_first {
  background-image: url('https://avatars.mds.yandex.net/get-ynews-logo/26056/1047-1478692902215-square/logo-square');
}

.main-block__news-picture_second {
  background-image: url('https://avatars.mds.yandex.net/get-ynews-logo/135513/1002-1544074003449-square/logo-square');
}

.main-block__news-picture_third {
  background-image: url('https://avatars.mds.yandex.net/get-ynews-logo/135513/1014-1627575534690-square/logo-square')
}

.main-block__news-picture_fourth {
  background-image: url('https://avatars.mds.yandex.net/get-ynews-logo/26056/1071-1582024400668-square/logo-square')
}

.main-block__news-picture_fifth {
  background-image: url('https://avatars.mds.yandex.net/get-ynews-logo/50744/1551-1563808847385-square/logo-square')
}

.main-block__news-picture .main-block__oil {
  margin-top: -8px;
  font-size: 18px;
}

.main-block__oil span:nth-child(1n) {
  margin: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.main-block__oil-item_first,
.main-block__oil-item_fourth {
  font-weight: 400 !important;
}

.main-block__oil-item_third,
.main-block__oil-item_sixth,
.main-block__oil-item_ninth {
  color: #999;
}

.header__time:hover,
.main-block__oil-item_first:hover,
.main-block__oil-item_fourth:hover,
.main-block__oil-item_seventh:hover {
  cursor: pointer;
  color: brown;
}

.main-block__oil-item_seventh {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500 !important;
}

.main-block__oil-dots {
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-left: 4px;
  opacity: 0.5;
}

.main-block__oil-dots:hover {
  opacity: 0.9;
  cursor: pointer;
}

.weather-and-trafic__item-title_main {
  font-size: 22px;
  color: #0054b9;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.weather-and-trafic__item-title {
  color: #0054b9;
  font-size: 18px;
  font-weight: 300;
  margin-left: 8px;
  font-family: 'Roboto', sans-serif;
}

.weather-and-trafic__weather-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.weather-and-trafic__cloud {
  background-size: cover;
  width: 56px;
  height: 48px;
}

.weather-and-trafic__temp {
  font-size: 40px;
  margin-left: 8px;
}

.weather-and-trafic__trafic {
  margin-top: 20px;
}

.weather-and-trafic__forecast {
  display: flex;
  margin-left: 8px;
}

.weather-and-trafic__forecast-item {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #90919d;
  font-weight: 300;
}


/* ДОБАВИТЬ В LESS*/
.weather-and-trafic__forecast-morning,
.weather-and-trafic__forecast-evening,
.weather-and-trafic__forecast-nigth {
  display: flex;
  align-items: center;
}


.weather-and-trafic__forecast-item:hover .weather-and-trafic__trafic-content-number {
  color: brown;
}

.weather-and-trafic__forecast-item div {
  display: flex;
  justify-content: center;
}

.weather-and-trafic__forecast-item:hover {
  cursor: pointer;
}

.weather-and-trafic__forecast-img {
  /* width: 30px; */
  height: 30px;
  vertical-align: middle;
  margin-right: 2px;
}

.weather-and-trafic__trafic-content {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.weather-and-trafic__trafic-content-img {
  width: 53px;
  height: 48px;
  background-size: cover;
}

.weather-and-trafic__trafic-content-number {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}

.weather-and-trafic__trafic-content-label {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.weather-and-trafic__trafic-item {
  display: flex;
  align-items: center;
}

.weather-and-trafic__item-title_main:hover,
.weather-and-trafic__item-title:hover,
.weather-and-trafic__trafic-content-label:hover,
.weather-and-trafic__trafic-item:hover {
  color: brown;
  cursor: pointer;
}

.weather-and-trafic__weather-content-item {
  display: flex;
  align-items: center;
}

.weather-and-trafic__weather-content-item:hover {
  cursor: pointer;
}

.weather-and-trafic__forecast-item-temp {
  margin-left: -5px;
  color: black;
  font-size: 16px;
}

.weather-and-trafic__weather-content-item:hover .weather-and-trafic__temp,
.weather-and-trafic__forecast-item_third:hover .weather-and-trafic__forecast-item-temp_third,
.weather-and-trafic__forecast-item_second:hover .weather-and-trafic__forecast-item-temp_second,
.weather-and-trafic__forecast-item_first:hover .weather-and-trafic__forecast-item-temp_first {
  color: brown;
}

.weather-and-trafic__weather-and-trafic-img {
  vertical-align: sub;
  opacity: 0;
}

.main-block__news:hover .main-block__top-img,
.weather-and-trafic__trafic:hover .weather-and-trafic__trafic-img,
.weather-and-trafic__weather:hover .weather-and-trafic__weather-img {
  opacity: 0.3;
}


.main-block__top-img:hover,
.weather-and-trafic__trafic-img:hover,
.weather-and-trafic__weather-img:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.aside__aside-yandex-pluz,
.aside__aside-mail {
  box-shadow: 0 0 32px rgb(0 0 0 / 8%);
  margin: 6px 6px 0 0;
  box-sizing: border-box;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.aside__aside-mail-profile {
  display: flex;
  justify-content: space-between;
}

.aside__aside-mail-number,
.aside__aside-mail-login {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
}

.aside__aside-mail-img {
  width: 50px;
  height: 50px;
}

.aside__aside-mail-img {
  cursor: pointer;
}

.aside__aside-mail-label {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-right: 5px;
}

.aside__aside-mail-disc {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 10px;
}

.aside__aside-yandex-pluz {
  margin-top: 10px;
  transition: 0.3s;
}

.aside__aside-yandex-pluz:hover {
  transform: translateX(-30px);
  cursor: pointer;
}


.aside__aside-mail-label:hover,
.aside__aside-mail-number:hover,
.aside__aside-mail-login:hover,
.aside__aside-mail-disc:hover {
  cursor: pointer;
  color: brown;
}


.aside__aside-yandex-pluz:hover .aside__aside-yandex-pluz-letter {
  font-weight: 400;
}


.aside__aside-yandex-pluz-img {
  width: 35px;
  height: 30px;
  vertical-align: sub;
}

.aside__aside-yandex-pluz-letter {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 300;
}


.list-icon {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center
}


.list-icon__item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.list-icon__item-img {
  width: 60px;
  height: 60px;
  transition: ease-out .15s;
}

.list-icon__item-img_fifth {
  height: 60px;
}

.list-icon__item-img_eighth {
  width: 70px;
}

.list-icon__item-img_ninth {
  width: 55px;
}

.list-icon__item:hover {
  color: brown;
}

.list-icon__item:hover .list-icon__item-img {
  transform: translateY(-10px);
}

.middle-block {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.middle-block__left {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 15%;
}

.middle-block__left-logo {
  width: 160px;
  height: 50px;
  margin-right: 10px;
}

.middle-block__left-logo:hover {
  cursor: pointer;
}


.middle-block__rigth {
  display: grid;
  grid-template-columns: 19.5fr 2fr;
  border-radius: 8px;
  background-color: #fc0;
  border: 2px solid #fc0;
  height: 46px;
}

.middle-block__search-string {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
}

.middle-block__contenteditable-div {
  outline: none;
  padding: 8px;
  margin-left: 5px;
  font-size: 26px;
  max-width: 80%;
  font-weight: 400;
}

.middle-block__contenteditable-div[placeholder]:empty:before {
  content: attr(placeholder);
  color: gray;
  margin-left: 10px;
}

.middle-block__string-icons {
  display: flex;
  align-items: middle;

}

.middle-block__string-icons_micro {
  margin-top: 2px;
  width: 23px;
  height: 23px;
  margin-right: 20px;
  opacity: 0.3;
}

.middle-block__string-icons_micro:hover {
  opacity: 0.8;
  cursor: pointer;
}

.middle-block__string-icons_clava {
  width: 45px;
  height: 31px;
  margin-right: 10px;
  opacity: 0.3;
}

.middle-block__string-icons_clava:hover {
  opacity: 0.8;
  cursor: pointer;
}

.middle-block__search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc0;
}

.middle-block__search-button {
  transition: all 1s;
  width: 100%;
  height: 100%;
}

.middle-block__search-button:hover button {
  margin-bottom: 2px;
  width: 102%;
  height: 103%;
  cursor: pointer;
  background-color: #dbb407;
}


.middle-block__search-button button {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: #fc0;
  border: none;
}

.middle-block__search-button-label {
  font-weight: 400;
  font-size: 25px;
}


.middle-block__bot-label {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.middle-block__bot-label img {
  width: 45px;
  height: 30px;
}

.middle-block__bot-label span {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-right: 13px;
}

.middle-block__bot-label img:hover,
.middle-block__bot-label span:hover {
  cursor: pointer;
  color: brown;
}


.advertising {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.advertising__top-advertising {
  display: grid;
  grid-template-columns: 9fr 16fr;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
}

.advertising__top-advertising-picture {
  height: 150px;
  box-sizing: border-box;
  background-image: url('./icons/adv.png');
  background-repeat: no-repeat;
  background-size: auto 150px;
  background-origin: border-box;
}

.advertising__top-advertising-picture:hover {
  cursor: pointer;
}

.advertising__top-advertising-picture-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: whitesmoke;
  width: 70px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
}

.advertising__top-advertising-picture-label span {
  text-decoration: none !important;
}

.advertising__top-advertising-picture-label:hover {
  cursor: default;
}

.advertising__content a {
  text-decoration: none;
}


.advertising__top-advertising-labels {
  position: relative;
  padding-left: 30px;
  background: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.advertising__top-advertising-top-label {
  margin-top: 34px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.advertising__top-advertising-top-label:hover {
  color: brown;
}

.advertising__top-advertising-bot-label {
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: gray;
}

.advertising__top-advertising-close-img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12px;
  height: 12px;
}

.adv-and-dzen {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 17.5fr 8fr;
}



.adv-and-dzen__adv1 {
  border-radius: 18px;
  background-color: white;
  box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
}


.adv-and-dzen__adv-header {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.adv-and-dzen__adv-header-dots {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 18px;
}

.adv-and-dzen__adv-header-dots:hover {
  background-color: rgba(128, 128, 128, 0.118);

}

.adv-and-dzen__adv-header-dots-img {

  height: 40px;
  width: 30px;
}

.adv-and-dzen__adv-header-profile {
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
  cursor: pointer;
}

.adv-and-dzen__adv-header-labels {
  margin-left: 10px;
}

.adv-and-dzen__adv-header-labels-top {
  align-items: center;
  display: flex;
}

.adv-and-dzen__adv-header-labels-top-div-dot {
  margin: 5px;
}


.adv-and-dzen__adv-header-labels-top-dot {
  height: 4px;
  width: 4px;
  margin-bottom: 2px;
}

.adv-and-dzen__adv-header-img {
  width: 45px;
  height: 45px;
}

.adv-and-dzen__adv-header-labels_first {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.adv-and-dzen__adv-header-labels_first:hover {
  opacity: 0.6;
}

.adv-and-dzen__adv-header-labels_third {
  color: blue;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.adv-and-dzen__adv-header-labels_third:hover {
  opacity: 0.6;
}

.adv-and-dzen__adv-header-labels-bot {
  margin-top: -4px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: gray;
}

.adv-and-dzen__footer-left {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 55px;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

.adv-and-dzen__footer-left:hover {
  background-color: rgba(128, 128, 128, 0.118);
}


.adv-and-dzen__footer-left-avatar {
  width: 5px;
  height: 5px;
}

.adv-and-dzen__dzen {
  margin-left: 17px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 30px;
  background-color: white;
  box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
  border-radius: 22px;
}

.adv-and-dzen__dzen-label {
  cursor: pointer;
}

.adv-and-dzen__dzen-label {
  display: flex;
  align-items: middle;
}

.adv-and-dzen__dzen-label span {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 3px;
}

.adv-and-dzen__dzen-label-img {
  width: 40px;
  height: 45px;
  vertical-align: middle;
}

.adv-and-dzen__dzen-li-img {
  background-size: cover;
  margin-right: 4px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url('./icons/cross.png')
}

.adv-and-dzen__dzen li {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 25px;
}

.adv-and-dzen__dzen li:hover a {
  color: red
}

.adv-and-dzen__dzen li a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
}

.adv-and-dzen__dzen ul {
  margin-left: 0;
  padding-left: 0;
}

.adv-and-dzen__dzen-title {
  margin-top: 20px;
}

.adv-and-dzen__dzen-title-main {
  color: gray;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
}

.adv-and-dzen__adv-video {
  margin-top: 8px;
  border-radius: 3%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.adv-and-dzen__label-under-video-img {
  width: 5px;
  height: 5px;
}

.adv-and-dzen__label-under-video {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
}

.adv-and-dzen__label-under-video-title {
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__label-under-video-date-and-views {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: gray;
}

.adv-and-dzen__label-under-video-img {
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 5px;
}

.adv-and-dzen__label-under-video-date-and-views {
  cursor: pointer;
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.adv-and-dzen__follow-block {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  background: #f2f2f2;
  border-radius: 16px;
}

.adv-and-dzen__follow-block-title {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.adv-and-dzen__follow-block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc0;
  border: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 18px;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}

.adv-and-dzen__follow-block-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 38px 8px rgba(240, 223, 11, 0.5);

}
.adv-and-dzen__footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -8px;
}

.adv-and-dzen__footer-left-avatar {
  width: 60px;
  height: 40px;
}

.adv-and-dzen__footer-left-icon {
  cursor: pointer;
  width: 35px;
  height: 35px;

}

.adv-and-dzen__footer-left-icon_2 {
  margin: 0 15px;
}

.adv-and-dzen__footer-left {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}

.adv-and-dzen__footer-nmb-comments {
  font-weight: 400;
  margin-right: 5px;
}

.adv-and-dzen__footer-right {
  display: flex;
}

.adv-and-dzen__adv2 {
  border-radius:30px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%);
  background-color: white;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6px;
}

.adv-and-dzen__adv2__img {
  border-radius:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  background-image: url('./icons/salad.png');
  background-size: 99% 340px;
  background-repeat: no-repeat;
  background-origin: border-box;
}


.adv-and-dzen__adv2__content {
  padding:5px 10px
}

.adv-and-dzen__adv-header-left {
  display: flex;
}

.adv-and-dzen__adv-header-dots__2 {
  margin-right: -2px;
  margin-top: -5px;
}

.adv-and-dzen__adv2-header-labels-top {
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-and-dzen__adv2-header-labels-title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__adv2-header-labels-title:hover{
  opacity: 0.5;
}

.adv-and-dzen__adv2-header-labels-img {
  width: 27px;
  height: 32px;
  margin-left: 4px;
}

.adv-and-dzen__adv2-header-labels-bot {
  opacity: 0.93;
  color:grey;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__adv2-middle-block-label-1{
  margin-top: 14px;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__adv2-middle-block-label-2{
  opacity: 0.9;
  color:grey;
  margin-top: 14px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__adv2-middle-block-label-3 {
  opacity: 0.9;
  color:grey;
  margin-top: 17px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.adv-and-dzen__adv2-middle-block-label-1 span,
.adv-and-dzen__adv2-middle-block-label-2 span,
.adv-and-dzen__adv2-middle-block-label-3 span{
  cursor: pointer;
}

.adv-and-dzen__footer-adv2-avatar__2{
  width:40px;
  height:35px;
}

.adv-and-dzen__footer-left_2 {
  width:210px;
  margin-left: -6px;
}

.adv-and-dzen__footer_2{
  margin-top: 25px;
}

.adv-and-dzen__footer-adv2-label{
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.dv-and-dzen__adv1_3 {
  margin-top: 14px;
}

.adv-and-dzen__footer-left-avatar_3{
  margin-right: 5px;
}